html,
body {
  width: 100%;
  height: 100%;
}
.clearfix:after {
  content: '.';
  display: block;
  width: 0;
  height: 0;
  visibility: hidden;
  clear: both;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.tc {
  text-align: center;
}
.tl {
  text-align: left;
}
.tr {
  text-align: right;
}
.song {
  font-family: '宋体';
}
.image {
  width: 100%;
  height: 100%;
  display: inline-block;
}
.fw {
  font-weight: bold;
}
.ft-spacing {
  letter-spacing: 2px;
}
.color-green {
  color: #FFA11D !important;
}
.color-orange {
  color: #FFA11D !important;
}
.color-blue {
  color: #0f87dd !important;
}
.white {
  color: #fff !important;
}
.red-1 {
  color: #cb0801 !important;
}
.red-2 {
  color: #f02923 !important;
}
.red-3 {
  color: #e62626 !important;
}
.red-4 {
  color: #ef2b70 !important;
}
.grey-1 {
  color: #111 !important;
}
.grey-2 {
  color: #222 !important;
}
.grey-3 {
  color: #333 !important;
}
.grey-4 {
  color: #444 !important;
}
.grey-5 {
  color: #555 !important;
}
.grey-6 {
  color: #666 !important;
}
.grey-7 {
  color: #777 !important;
}
.grey-8 {
  color: #888 !important;
}
.grey-9 {
  color: #999 !important;
}
.grey-b0 {
  color: #b0b0b0 !important;
}
.grey-be {
  color: #bebebe !important;
}
.grey-8a {
  color: #8a8a8a !important;
}
.yellow-1 {
  color: #ffc240 !important;
}
.yellow-2 {
  color: #f8a538 !important;
}
.yellow-3 {
  color: #d4c913 !important;
}
.swiper-pagination-bullet {
  width: 4px;
  height: 4px;
  display: inline-block;
  border-radius: 100%;
  background: transparent;
  border: 2px solid #fff;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background-color: #fff;
  width: 15px;
  border-radius: 20px;
  height: 4px;
}
.bg-f5 {
  background-color: #f5f5f5;
}
.bg-white {
  background-color: #fff;
}
